// general
$font-1: 'Roboto', sans-serif;
$font-2: 'Orbitron';
$logo-color: #317BA5;
$box-shadow: #646464;
// switch
$switch-color-light: #E5EA00;
$switch-color-dark: #457997;
$switch-track: #BEBEBE;

// light mode
$background-light-color: #fff;
$color-light-text-primary: #646464;
$color-light-text-secondary: #A0A0A0;

// dark mode
$background-dark-color: #323232;
$background-dark-color-secondary: #353535;
$color-dark-text-primary: #BEBEBE;
$color-dark-text-secondary: #A0A0A0;