@import '../config';

.index-container{
    width: 100vw;
    height: 100vh;
    background: $background-light-color;
    transition: background .4s ease;
}

.index-dark-container{
    background: $background-dark-color;
}