@import '../../variables';

.nav{
    background-color: $background-light-color;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    box-shadow: 0px 2px 4px $box-shadow;
}

@import './logo';
@import './links';