@import '../../variables';

.nav{
    background-color: $background-light-color;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.nav-dark{
    background-color: $background-dark-color;
    box-shadow: unset;

    .links{
        a{
            color: $color-dark-text-primary;
        }
    }
}

@import './logo';
@import './links';
@import './responsive';